@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.fonts{
  font-family: "Playfair Display", serif;
}

:root {
  --light-background: #000040;
  --bold-background: #0a0a61;
}

body {
  width: 100vw;
  height: 100vh;
}
